<h1>List of all the Articles</h1>

<table style="width:50%">
  <% @articles.each do |article| %>
    <tr>
      <td><%=article.id%></td>
      <td><%=article.title%></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Show', article_path(article)%></td>
      <td><%= link_to 'Delete', article_path(article), method: :delete %></td>
    </tr>
  <%end%>
</table>
